*{
    padding: 0px;
    margin: 0px;
    
}
.container{
    height: 100vh;
    width: 100vw;
background: linear-gradient(
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.5)
  ),url("https://images.unsplash.com/photo-1509822929063-6b6cfc9b42f2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
display: flex;
justify-content: center;
align-items: center;
background-size:cover ;
}

.wrapper{
    background-color: #fff;
    height: auto;
    width:  30vw;
    padding: 20px;
}

/* .subContainer{
display: flex;
justify-content: center
} */

.heading{
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-size: 24px;
    padding-bottom: 5px;
}

.para{
    display: flex;
    justify-content: center;
    font-weight: 700;
}

.input{
    background: #e6e3e3;   
    /* border: 1px solid lightgray;  */
    border: none;
    padding: 10px;
    display: flex;  
    align-items: center;
    width: 95%;
}

.input-block{
    
    padding: 10px 20px;

}

.input-label{
   font-size: 17px;
   font-weight: bold;
}

.submit-btn{
    display: flex;
    justify-content: center;
}
.submit{
    padding: 10px;
    font-size: 15px;
    font-weight: 700;
}

