*{
    padding: 0px;
    margin: 0px;
    
}
.container{
    height: 100vh;
    width: 100vw;
background: linear-gradient(
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.5)
  ),url("https://images.pexels.com/photos/2254030/pexels-photo-2254030.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
display: flex;
justify-content: center;
align-items: center;
background-size:cover ;
}

.wrapper{
    background-color: #fff;
    height: auto;
    width:  30vw;
    padding: 20px;
}

/* .subContainer{
display: flex;
justify-content: center
} */

.heading{
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-size: 24px;
    padding-bottom: 5px;
}

.para{
    display: flex;
    justify-content: center;
    font-weight: 700;
}

.input{
    background: #f1f1f1;   
    border: 1px solid lightgray; 
    padding: 10px;
    display: flex;  
    align-items: center;
    width: 95%;
}

.input-block{
    padding: 10px 20px;

}

.input-label{
   font-size: 17px;
   font-weight: bold;
}

.submit-btn{
    display: flex;
    justify-content: center;
}
.submit{
    padding: 10px;
    font-size: 15px;
    font-weight: 700;
}

